.rsg--logo-40, .rsg--logo-41{
    color: white !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-size: 1.5rem !important;
}

.rsg--content-3{
    margin-top: 50px !important;
}